@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
.city-image {
	width: 100%;
	height: 450px;
	border: 5px solid #444;

	margin-right: auto;
}

.description {
	text-align: center;
	margin: 10px;
}

.rounded-list {
	margin: 10px;
	height: 35px;
	background-color: #181c2e;
	font-size: 18pt;

	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0px -1px 0 #212121, 0px -1px 0 #212121, 0px 1px 0 #212121,
		0px 1px 0 #212121, -1px 0px 0 #212121, 1px 0px 0 #212121,
		-1px 0px 0 #212121, 1px 0px 0 #212121, -1px -1px 0 #212121,
		1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121,
		-1px 4px 0 #212121, 0px 4px 0 #212121, 1px 4px 0 #212121,
		0 8px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1),
		0 1px 1px rgba(0, 0, 0, 0.3), 0 3px 1px rgba(0, 0, 0, 0.2),
		0 2px 2px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2),
		0 6px 6px rgba(0, 0, 0, 0.15);
}

.rounded-list:hover {
	background-color: rgb(86, 136, 245);
}
.rounded-list li, h1 {
	text-align: center;
	font-family: 'Roboto Mono', monospace;

}

.flag-title{
	background-color: rgba(24, 28, 46, 1);
	border-radius: 10px;
	color: #fff;

}


@media screen and (max-width: 100px) {
	.city-image {
		height: 200px;
		width: 100%;
	}
}
